.message {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 0;
  margin-bottom: 5px;
  padding: 3px;
  width: auto;
  height: 30px;
  box-sizing: border-box;
  background: rgba(23, 65, 148, 0.507);
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

.message_another {
  background: rgba(14, 38, 87, 0.829);
}

.message__user,
.message__text {
  margin: 0;
  padding: 0;
}

.message__user {
  font-weight: 700;
}

.message__time {
  margin: 0;
  padding: 0;
  align-self: flex-end;
  font-size: 12px;
}